name: Firebase Continous Deployment

on:
  push:
    branches: ["main"]

jobs:
  e2e:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run docker compose as background services
        run: docker-compose up -d
      - name: Run quarkus
        run: docker start quarkus
      - name: Restart quarkus
        run: docker restart quarkus
      - name: Start dev server
        run: yarn start
      - name: Run end-to-end tests
        run: yarn test:e2e
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build project
        run: yarn build
      - name: Deploy to firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

