name: CI Front-End

on:
  pull_request:
    branches: ["main"]

jobs:
  unit_integration_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: yarn run tests
        run: yarn test
      - name: run yarn build
        run: yarn build

  sonarqube:
    needs: unit_integration_tests
    runs-on: ubuntu-latest
    
    services:
      sonarqube:
        image: jarnoweemen/auctionsense:sonarqube-auctionsense
        ports:
          - 9000:9000

    steps:
      - name: Checking out repository
        uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Run static code analysis
        uses: kitabisa/sonarqube-action@v1.2.0
        with:
          host: ${{ secrets.SONARQUBE_HOST }}
          login: ${{ secrets.SONARQUBE_TOKEN }}